In [5]:
import datetime
import pandas as pd
import requests
import sys

sys.path.append('..')

In [16]:
test_isin = "IE00B57L5Q19"
test_symbol = "0P0000OQVL"

In [20]:
from twelvedata import TDClient
from private.consts.api_key import TWELVE_DATA_API_KEY

td = TDClient(apikey=TWELVE_DATA_API_KEY)

td_intervals = ['1min', '5min', '15min', '30min', '45min', '1h', '2h', '4h', '8h', '1day', '1week', '1month']

In [25]:
interval = '1day'
if interval in td_intervals:
    df = td.time_series(
        symbol = "AAPL",
        interval = interval
    ).as_csv()

In [26]:
df

(['datetime', 'open', 'high', 'low', 'close', 'volume'],
 ['2025-05-22', '200.72000', '202.40000', '199.70000', '201.84000', '2134595'],
 ['2025-05-21',
  '205.17000',
  '207.03999',
  '200.71001',
  '202.09000',
  '59134800'],
 ['2025-05-20',
  '207.67000',
  '208.47000',
  '205.03000',
  '206.86000',
  '42496600'],
 ['2025-05-19',
  '207.91000',
  '209.48000',
  '204.25999',
  '208.78000',
  '46140500'],
 ['2025-05-16',
  '212.36000',
  '212.57001',
  '209.77000',
  '211.25999',
  '54737900'],
 ['2025-05-15',
  '210.95000',
  '212.96001',
  '209.53999',
  '211.45000',
  '45029500'],
 ['2025-05-14',
  '212.42999',
  '213.94000',
  '210.58000',
  '212.33000',
  '49325800'],
 ['2025-05-13',
  '210.42999',
  '213.39999',
  '209.00000',
  '212.92999',
  '51909300'],
 ['2025-05-12',
  '210.97000',
  '211.27000',
  '206.75000',
  '210.78999',
  '63775800'],
 ['2025-05-09',
  '199.00000',
  '200.53999',
  '197.53999',
  '198.53000',
  '36453900'],
 ['2025-05-08',
  '197.72000',
  '200.05000',
  '194.67999',
  '197.49001',
  '50478900'],
 ['2025-05-07',
  '199.17000',
  '199.44000',
  '193.25000',
  '196.25000',
  '68536700'],
 ['2025-05-06',
  '198.21001',
  '200.64999',
  '197.02000',
  '198.50999',
  '51216500'],
 ['2025-05-05',
  '203.10001',
  '204.10001',
  '198.21001',
  '198.89000',
  '69018500'],
 ['2025-05-02',
  '206.09000',
  '206.99001',
  '202.16000',
  '205.35001',
  '101010600'],
 ['2025-05-01',
  '209.08000',
  '214.56000',
  '208.89999',
  '213.32001',
  '57365700'],
 ['2025-04-30',
  '209.30000',
  '213.58000',
  '206.67000',
  '212.50000',
  '52286500'],
 ['2025-04-29',
  '208.69000',
  '212.24001',
  '208.37000',
  '211.21001',
  '36827600'],
 ['2025-04-28',
  '210.00000',
  '211.50000',
  '207.46001',
  '210.14000',
  '38743100'],
 ['2025-04-25',
  '206.37000',
  '209.75000',
  '206.20000',
  '209.28000',
  '38222300'],
 ['2025-04-24',
  '204.89000',
  '208.83000',
  '202.94000',
  '208.37000',
  '47311000'],
 ['2025-04-23',
  '206.00000',
  '208.00000',
  '202.80000',
  '204.60001',
  '52929200'],
 ['2025-04-22',
  '196.12000',
  '201.59000',
  '195.97000',
  '199.74001',
  '52976400'],
 ['2025-04-21',
  '193.27000',
  '193.80000',
  '189.81000',
  '193.16000',
  '46742500'],
 ['2025-04-17',
  '197.20000',
  '198.83000',
  '194.42000',
  '196.98000',
  '51334300'],
 ['2025-04-16',
  '198.36000',
  '200.70000',
  '192.37000',
  '194.27000',
  '59732400'],
 ['2025-04-15',
  '201.86000',
  '203.50999',
  '199.80000',
  '202.14000',
  '51343900'],
 ['2025-04-14',
  '211.44000',
  '212.94000',
  '201.16000',
  '202.52000',
  '101352900'],
 ['2025-04-11',
  '186.10001',
  '199.53999',
  '186.06000',
  '198.14999',
  '87435900'],
 ['2025-04-10',
  '189.07001',
  '194.78000',
  '183.00000',
  '190.42000',
  '121880000'])